In [3]:
import pandas as pd

# File path of the Excel file
file_path = r"..\..\data\Raw_data\2011 Ele Deaths.xlsx"


# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_path, skiprows=1)

In [4]:
df

,No,Region,District,D/S Office,Death of Date,place of Death,Death of couse,Sex,Age
0,1,Southern,Rathnapura,Embilipitiya,03-01-2011,Udawalawa NP Nugepara,Unknown,Male,3 months
1,2,Southern,Hambanthota,Hambanthaota,24-01-2011,N 614805- E 8104637,Electrocted,Male,12-15
2,3,Southern,Rathnapura,Balangoda,04-01-2011,Udawalawa NP Pilimandara Demodara,Unknown,Male,25-30
3,4,Southern,Monaragala,Thanamalvila,17-01-2011,Gombagala Hambegama,Unknown,Male,35
4,5,Southern,Monaragala,Wellawaya,29-01-2011,Boiter wewa,Natural,Male,3 months
...,...,...,...,...,...,...,...,...,...
250,251,Mahaweli,Polonnaruwa,Hinguraggoda,02-12-2011,"Kakirawa Galoya 133,1/2 post",Train Accident,Female,8-10
251,252,Mahaweli,Polonnaruwa,Hinguraggoda,09-12-2011,"Habarana Galoya 135 ,135 1/2",Train Accident,Female,4-5
252,253,Mahaweli,Trincomale,Kanthale,24-12-2011,Wanela Sunganaru,Hakkapatas,Male,15-20
253,254,Mahaweli,Polonnaruwa,Dimbulagala,28-12-2011,Namalpokuna,Unknown,Female,15
254,255,Mahaweli,Trincomale,Muthur,28-12-2011,Sampur Santhashapuram,Unknown,Male,15-20

In [86]:
df.columns

Index(['No', 'Region', 'District', 'D/S Office', 'Death of Date',
       ' place of Death ', 'Death of couse', 'Sex', 'Age '],
      dtype='object')

In [87]:
def replace_column_names(column_name):
    translations = {
        ' No': 'No',
        'D.S. Divition': 'D/S Office',
        'Death of Date': 'Date of Death',
        'Death of couse': 'Cause of Death',
        ' place of Death ': 'Place of Death',
        'Age ':'Age'
    }
    return translations.get(column_name, column_name)

In [88]:
df.rename(columns=replace_column_names, inplace=True)

In [89]:
df.columns

Index(['No', 'Region', 'District', 'D/S Office', 'Date of Death',
       'Place of Death', 'Cause of Death', 'Sex', 'Age'],
      dtype='object')

In [90]:
df = df.drop(columns=['Place of Death'])

In [91]:
df['Region'].unique()

array(['Southern', 'Yala Bundala', 'Central', 'Eastern', 'North Weatern',
       'Mahaweli'], dtype=object)

In [92]:
df['Region'] = df['Region'].replace({
        'Yala Bundala': 'YalaBundala',
        'North Weatern':'North Western'
})

In [93]:
df['Region'].unique()

array(['Southern', 'YalaBundala', 'Central', 'Eastern', 'North Western',
       'Mahaweli'], dtype=object)

In [94]:
df['District'].unique()

array(['Rathnapura', 'Hambanthota', 'Monaragala', 'Badulla', 'Kandy',
       'Baticola', 'Ampara', 'Anuradhapura', 'Kurunagala', 'Puttalama',
       'Wavniya', 'Mannar', 'Kilinochchiya', 'Mulathiw', 'Polonnaruwa',
       'Trincomale', 'Mathale'], dtype=object)

In [95]:
df['District'] = df['District'].replace({
        'Mathale': 'Matale',
        'Wavniya':'Vavuniya',
        'Mulathiw':'Mullaitivu',
        'Baticola':'Batticaloa',
        'Puttalama':'Puttalam',
        'Trincomale':'Trincomalee',
        'Kurunagala':'Kurunegala',
        'Rathnapura':'Ratnapura',
        'Hambanthota':'Hambantota',
        'Kilinochchiya':'Kilinochchi'


})

In [96]:
df['District'].unique()

array(['Ratnapura', 'Hambantota', 'Monaragala', 'Badulla', 'Kandy',
       'Batticaloa', 'Ampara', 'Anuradhapura', 'Kurunegala', 'Puttalam',
       'Vavuniya', 'Mannar', 'Kilinochchi', 'Mullaitivu', 'Polonnaruwa',
       'Trincomalee', 'Matale'], dtype=object)

In [97]:
df['D/S Office'].unique()

array(['Embilipitiya', 'Hambanthaota', 'Balangoda', 'Thanamalvila',
       'Wellawaya', 'Weligepola', 'Buththlala', 'Haldummulla',
       'Lunugamwehera', 'Sevanagala', 'Thissamaharama', 'Kataragama',
       'Ridimaliyadda', 'Kandakatiya', 'Udadumbara', 'Chencalladi',
       'Pothuvil', 'Lahugala', 'Wakare', 'Damana', 'Ampara',
       'Samanthurei', 'Manampitiya', 'Siyamanduwa', 'Uhana',
       'Wallachchena', 'Mahaoya', 'Madulla', 'Ma: Nu: gampalatha',
       'Ehatuwewa', 'Polpithigama', 'Horowpothana', 'Galenbindunuwewa',
       'Thirappane', 'Kakirawa', 'Ipologama', 'Eluwankulama',
       'Wanathawilluwa', 'Nawagaththegama', 'Wavniya', 'Karuwalagaswewa',
       'Nachchaduwa', 'Kahatagasdigiliya', 'Musali', 'Palagala',
       'Thalawa', 'Nochchiyagama', 'Puttalama', 'Galgamuwa', 'Ambanpola',
       'Do', 'Ahatuwewa', 'Giribawa', 'Wavniya North', 'Madawachchiya',
       'Kotawehera', 'Palugaswewa', nan, 'Sampathnuwara', 'No report',
       'Ma:Nu: Gampalatha', 'Mankulama', 'Thanthirimale', 'Settikulama',
       'Mulathiw', 'Welikanda', 'Hinguraggoda', 'Kuchchaweli',
       'Dimbulagala', 'Thamankaduwa', 'Kanthale', 'Gomarankadawela',
       'Serunuwara', 'Muthur', 'Werugal', 'Nagara ha Kadawath',
       'Madirigiriya', 'Morawewa', 'Kinnya', 'Lankapura',
       'Korelepattu North', 'Naula', 'Dabulla', 'Wilgamuwa',
       'Mahiyanganaya', 'Elahera', 'Vilgamuwa', 'Dambulla',
       'Dehiaththakandiya'], dtype=object)

In [98]:
df[df['D/S Office'].isnull()]

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
130,131,North Western,Vavuniya,NaN,23-08-2011,Hakkapatas,Female,5-6
146,147,North Western,Anuradhapura,NaN,07-10-2011,Other,Male,12-15

In [99]:
df['D/S Office']=df['D/S Office'].fillna('Unknown')

In [100]:
df['Date of Death'].unique()

array(['03-01-2011', '24-01-2011', '04-01-2011', '17-01-2011',
       '29-01-2011', '10-01-2011', '21-02-2011', '16-02-2011',
       '20-02-2011', '05-03-2011', '10-03-2011', '13-04-2011',
       '14-04-2011', '10-04-2011', '05-05-2011', '28-07-2011',
       '04-08-2011', '27-08-2011', '08-08-2011', '03-09-2011',
       '05-10-2011', '12-10-2011', '04-11-2011', '11-11-2011', 'January',
       'Aprial', 'May', 'Aug', 'Sep', '15-01-2011', '30-01-2011',
       '12-02-2011', '09-04-2011', '02-05-2011', '24-06-2011',
       '16-07-2011', '29-08-2011', '01-10-2011', '22-11-2011',
       '20-12-2011', '23-03-2011', '24-04-2011', '03-05-2011',
       '28-01-2011', '02-02-2011', '13-02-2011', '18-02-2011',
       '22-02-2011', '11-03-2011', '20-03-2011', '24-03-2011',
       '03-04-2011', '08-04-2011', '17-04-2011', '19-04-2011',
       '23-04-2011', '18-05-2011', '10-06-2011', '20-06-2011',
       '21-07-2011', '15-08-2011', '20-08-2011', '23-08-2011',
       '29-082011', '13-09-2011', '02-11-2011', '24-11-2011',
       '06-12-2011', '06-01-2011', '14-01-2011', '31-01-2011', nan,
       '04-02-2011', '05-02-2011', '28-02-2011', '07-03-2011',
       '28-03-2011', '31-03-2011', '15-04-2011', '16-04-2016',
       '21-04-2011', '29-04-2011', '30-04-2011', '04-05-2011',
       '07-05-2011', '26-05-2011', '01-06-2011', '14-06-2011',
       '17-06-2011', '23-06-2011', '25-06-2011', '29-06-2011',
       '01-07-2011', '05-07-2011', '08-07-2011', '14-07-2011',
       '20-07-2011', '23-07-2011', '30-07-2011', '03-08-2011',
       '06-08-2011', '22-08-2011', '24-08-2011', '25-08-2011',
       '26-08-2011', '28-09-2011', '05-09-2011', '08-09-2011',
       '06-09-2011', '09-09-2011', '30-09-2011', '02-09-2011',
       '15-09-2011', '07-10-2011', '06-10-2011', '15-10-2011',
       '17-10-2011', '19-10-2011', '27-10-2011', '26-10-2011',
       '01-11-2011', '06-11-2011', '08-11-2011', '18-11-2011',
       '27-11-2011', '29-11-2011', '07-11-2011', '02-12-2011',
       '21-12-2011', '28-12-2011', '08-01-2011', '12-01-2011',
       '13-01-2011', '16-01-2011', '08-02-2011', '10-02-2011',
       '15-02-2011', '19-02-2011', '25-02-2011', '27-02-2011',
       '04-03-2011', '06-03-2011', '13-03-2011', '19-03-2011',
       '22-03-2011', '29-03-2011', '05-04-2011', '12-04-2011',
       '20-04-2011', '25-04-2011', '01-05-2011', '09-05-2011',
       '13-05-2011', '21-05-2011', '28-05-2011', '30-05-2011',
       '09-06-2011', '11-06-2011', '22-06-2011', '29-07-2011',
       '09-07-2011', '10-07-2011', '06-07-2011', '13-07-2011',
       '17-07-2011', '03-07-2011', '24-07-2011', '12-08-2011',
       '27-07-2011', '28-08-2011', '01-09-2011', '19-09-2011',
       '20-09-2011', '04-10-2011', '23-10-2011', '24-10-2011',
       '31-10-2011', '09-11-2011', '10-11-2011', '12-11-2011',
       '17-11-2011', '21-11-2011', '04-12-2011', '09-12-2011',
       '24-12-2011'], dtype=object)

In [101]:
df['Date of Death'] = df['Date of Death'].replace({
    'Aprial':'30-04-2011',
    'Aug': '31-08-2011',
    '29-082011':'29-08-2011',
    'January':'31-01-2011',
    '16-04-2016':'16-04-2011',
    'May':'31-05-2011',
    'Sep':'30-09-2011'

})

In [102]:
df[df['Date of Death'].isnull()]

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
91,92,North Western,Anuradhapura,Kakirawa,NaN,3 months ago,Male,30-35

In [103]:
df['Date of Death'] = df['Date of Death'].fillna('31-12-2011')

In [104]:
df['Date of Death'].unique()

array(['03-01-2011', '24-01-2011', '04-01-2011', '17-01-2011',
       '29-01-2011', '10-01-2011', '21-02-2011', '16-02-2011',
       '20-02-2011', '05-03-2011', '10-03-2011', '13-04-2011',
       '14-04-2011', '10-04-2011', '05-05-2011', '28-07-2011',
       '04-08-2011', '27-08-2011', '08-08-2011', '03-09-2011',
       '05-10-2011', '12-10-2011', '04-11-2011', '11-11-2011',
       '31-01-2011', '30-04-2011', '31-05-2011', '31-08-2011',
       '30-09-2011', '15-01-2011', '30-01-2011', '12-02-2011',
       '09-04-2011', '02-05-2011', '24-06-2011', '16-07-2011',
       '29-08-2011', '01-10-2011', '22-11-2011', '20-12-2011',
       '23-03-2011', '24-04-2011', '03-05-2011', '28-01-2011',
       '02-02-2011', '13-02-2011', '18-02-2011', '22-02-2011',
       '11-03-2011', '20-03-2011', '24-03-2011', '03-04-2011',
       '08-04-2011', '17-04-2011', '19-04-2011', '23-04-2011',
       '18-05-2011', '10-06-2011', '20-06-2011', '21-07-2011',
       '15-08-2011', '20-08-2011', '23-08-2011', '13-09-2011',
       '02-11-2011', '24-11-2011', '06-12-2011', '06-01-2011',
       '14-01-2011', '31-12-2011', '04-02-2011', '05-02-2011',
       '28-02-2011', '07-03-2011', '28-03-2011', '31-03-2011',
       '15-04-2011', '16-04-2011', '21-04-2011', '29-04-2011',
       '04-05-2011', '07-05-2011', '26-05-2011', '01-06-2011',
       '14-06-2011', '17-06-2011', '23-06-2011', '25-06-2011',
       '29-06-2011', '01-07-2011', '05-07-2011', '08-07-2011',
       '14-07-2011', '20-07-2011', '23-07-2011', '30-07-2011',
       '03-08-2011', '06-08-2011', '22-08-2011', '24-08-2011',
       '25-08-2011', '26-08-2011', '28-09-2011', '05-09-2011',
       '08-09-2011', '06-09-2011', '09-09-2011', '02-09-2011',
       '15-09-2011', '07-10-2011', '06-10-2011', '15-10-2011',
       '17-10-2011', '19-10-2011', '27-10-2011', '26-10-2011',
       '01-11-2011', '06-11-2011', '08-11-2011', '18-11-2011',
       '27-11-2011', '29-11-2011', '07-11-2011', '02-12-2011',
       '21-12-2011', '28-12-2011', '08-01-2011', '12-01-2011',
       '13-01-2011', '16-01-2011', '08-02-2011', '10-02-2011',
       '15-02-2011', '19-02-2011', '25-02-2011', '27-02-2011',
       '04-03-2011', '06-03-2011', '13-03-2011', '19-03-2011',
       '22-03-2011', '29-03-2011', '05-04-2011', '12-04-2011',
       '20-04-2011', '25-04-2011', '01-05-2011', '09-05-2011',
       '13-05-2011', '21-05-2011', '28-05-2011', '30-05-2011',
       '09-06-2011', '11-06-2011', '22-06-2011', '29-07-2011',
       '09-07-2011', '10-07-2011', '06-07-2011', '13-07-2011',
       '17-07-2011', '03-07-2011', '24-07-2011', '12-08-2011',
       '27-07-2011', '28-08-2011', '01-09-2011', '19-09-2011',
       '20-09-2011', '04-10-2011', '23-10-2011', '24-10-2011',
       '31-10-2011', '09-11-2011', '10-11-2011', '12-11-2011',
       '17-11-2011', '21-11-2011', '04-12-2011', '09-12-2011',
       '24-12-2011'], dtype=object)

In [105]:
# Convert the date column to pandas datetime format
df['Date of Death'] = pd.to_datetime(df['Date of Death'],format='%d-%m-%Y')

In [106]:
df['Date of Death'].unique()

<DatetimeArray>
['2011-01-03 00:00:00', '2011-01-24 00:00:00', '2011-01-04 00:00:00',
 '2011-01-17 00:00:00', '2011-01-29 00:00:00', '2011-01-10 00:00:00',
 '2011-02-21 00:00:00', '2011-02-16 00:00:00', '2011-02-20 00:00:00',
 '2011-03-05 00:00:00',
 ...
 '2011-10-24 00:00:00', '2011-10-31 00:00:00', '2011-11-09 00:00:00',
 '2011-11-10 00:00:00', '2011-11-12 00:00:00', '2011-11-17 00:00:00',
 '2011-11-21 00:00:00', '2011-12-04 00:00:00', '2011-12-09 00:00:00',
 '2011-12-24 00:00:00']
Length: 181, dtype: datetime64[ns]

In [107]:
df = df.sort_values(by='Date of Death').reset_index(drop=True)

In [108]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Southern,Ratnapura,Embilipitiya,2011-01-03,Unknown,Male,3 months
1,3,Southern,Ratnapura,Balangoda,2011-01-04,Unknown,Male,25-30
2,84,North Western,Anuradhapura,Ma: Nu: gampalatha,2011-01-06,Electrocted,Male,35
3,166,Mahaweli,Polonnaruwa,Welikanda,2011-01-06,Flood,Female,3
4,167,Mahaweli,Polonnaruwa,Hinguraggoda,2011-01-08,Flood,Unknown,NaN
...,...,...,...,...,...,...,...,...
250,253,Mahaweli,Trincomalee,Kanthale,2011-12-24,Hakkapatas,Male,15-20
251,254,Mahaweli,Polonnaruwa,Dimbulagala,2011-12-28,Unknown,Female,15
252,165,North Western,Mullaitivu,Mulathiw,2011-12-28,Land mine,Male,35
253,255,Mahaweli,Trincomalee,Muthur,2011-12-28,Unknown,Male,15-20
254,92,North Western,Anuradhapura,Kakirawa,2011-12-31,3 months ago,Male,30-35

In [109]:
df['No'] = df.index + 1

In [110]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Southern,Ratnapura,Embilipitiya,2011-01-03,Unknown,Male,3 months
1,2,Southern,Ratnapura,Balangoda,2011-01-04,Unknown,Male,25-30
2,3,North Western,Anuradhapura,Ma: Nu: gampalatha,2011-01-06,Electrocted,Male,35
3,4,Mahaweli,Polonnaruwa,Welikanda,2011-01-06,Flood,Female,3
4,5,Mahaweli,Polonnaruwa,Hinguraggoda,2011-01-08,Flood,Unknown,NaN
...,...,...,...,...,...,...,...,...
250,251,Mahaweli,Trincomalee,Kanthale,2011-12-24,Hakkapatas,Male,15-20
251,252,Mahaweli,Polonnaruwa,Dimbulagala,2011-12-28,Unknown,Female,15
252,253,North Western,Mullaitivu,Mulathiw,2011-12-28,Land mine,Male,35
253,254,Mahaweli,Trincomalee,Muthur,2011-12-28,Unknown,Male,15-20
254,255,North Western,Anuradhapura,Kakirawa,2011-12-31,3 months ago,Male,30-35

In [111]:
df['Cause of Death'].unique()

array(['Unknown', 'Electrocted', 'Flood', 'Natural', 'Gun shot', nan,
       'Poisned', 'Other', 'Hakkapatas', 'Accident', 'Train Accident',
       'Eletrocted', 'Land mine', 'Old Injurice& Poisned',
       'Bodi Distroied', 'Broken th Spinal Cord', 'Body destroyed',
       'Dipniya', 'Other       Injured', 'Other       ', '3 months ago'],
      dtype=object)

In [112]:
def replace_sinhala_with_english(text):
    translations = {
    'Gun shot':'Gunshot',
    'Other       ':'Other',
    'Broken th Spinal Cord':'Broken the Spinal',
    'Poisned':'Poisned',
    'Other       Injured':'Injured',
    'Septasimiya':'Septicemia',
    '3 months ago':'Unknown',
    'Unknoun':'Unknown',
    'Eletrocted':'Electrocuted',
    'Electrocted':'Electrocuted',
    'Old Injurice& Poisned':'Poisned',
    'Drowning':'Drowned',
    'Bodi Distroied':'Body destroyed',
    'Dipniya':'Other',
    'consuption of garbage':'Garbage consumption'
    }
    return translations.get(text, text)

In [113]:
df["Cause of Death"] = df["Cause of Death"].apply(replace_sinhala_with_english)

In [114]:
df['Cause of Death'] = df['Cause of Death'].fillna('Unknown')

In [115]:
df['Cause of Death'].unique()

array(['Unknown', 'Electrocuted', 'Flood', 'Natural', 'Gunshot',
       'Poisned', 'Other', 'Hakkapatas', 'Accident', 'Train Accident',
       'Land mine', 'Body destroyed', 'Broken the Spinal', 'Injured'],
      dtype=object)

In [116]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Southern,Ratnapura,Embilipitiya,2011-01-03,Unknown,Male,3 months
1,2,Southern,Ratnapura,Balangoda,2011-01-04,Unknown,Male,25-30
2,3,North Western,Anuradhapura,Ma: Nu: gampalatha,2011-01-06,Electrocuted,Male,35
3,4,Mahaweli,Polonnaruwa,Welikanda,2011-01-06,Flood,Female,3
4,5,Mahaweli,Polonnaruwa,Hinguraggoda,2011-01-08,Flood,Unknown,NaN
...,...,...,...,...,...,...,...,...
250,251,Mahaweli,Trincomalee,Kanthale,2011-12-24,Hakkapatas,Male,15-20
251,252,Mahaweli,Polonnaruwa,Dimbulagala,2011-12-28,Unknown,Female,15
252,253,North Western,Mullaitivu,Mulathiw,2011-12-28,Land mine,Male,35
253,254,Mahaweli,Trincomalee,Muthur,2011-12-28,Unknown,Male,15-20
254,255,North Western,Anuradhapura,Kakirawa,2011-12-31,Unknown,Male,30-35

In [117]:
df['Sex'].unique()

array(['Male', 'Female', 'Unknown', nan, 'Calf  4', 'male', 'Tusker',
       'Calf   1', 'Calf  3', 'Calf  1'], dtype=object)

In [118]:
df['Sex'] = df['Sex'].replace({
    'male':'Male',
    'Calf   1':'Calf',
    'Calf  1':'Calf',
    'Calf  3':'Calf',
    'Calf  4':'Calf',
    'Tusker':'Male'
})

In [119]:
df['Sex'] = df['Sex'].fillna('Unknown')

In [120]:
df['Sex'].unique()

array(['Male', 'Female', 'Unknown', 'Calf'], dtype=object)

In [121]:
df[df['Sex']=='Calf']

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
28,29,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Calf,NaN
104,105,Southern,Ratnapura,Embilipitiya,2011-04-30,Unknown,Calf,NaN
124,125,Southern,Ratnapura,Embilipitiya,2011-05-31,Unknown,Calf,NaN
185,186,Southern,Ratnapura,Embilipitiya,2011-08-31,Unknown,Calf,NaN
200,201,Southern,Ratnapura,Embilipitiya,2011-09-30,Unknown,Calf,NaN

In [122]:
# Replace values in 'Age' column
df.loc[df['Sex'] == 'Calf', 'Age'] = 4

In [123]:
df[df['Sex']=='Calf']

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
28,29,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Calf,4
104,105,Southern,Ratnapura,Embilipitiya,2011-04-30,Unknown,Calf,4
124,125,Southern,Ratnapura,Embilipitiya,2011-05-31,Unknown,Calf,4
185,186,Southern,Ratnapura,Embilipitiya,2011-08-31,Unknown,Calf,4
200,201,Southern,Ratnapura,Embilipitiya,2011-09-30,Unknown,Calf,4

In [124]:
df['Age'].unique()

array(['3 months', '25-30', '35', '3', nan, '60', '30-35', '20-22',
       '40-50', '40', '4', '30', '4,1/2', '45', '20-25', '25', '12-15',
       '15-20', '35-40', '15', 4, '1 Weeks', '15-18', '45-50', '13', '20',
       '30-25', '7', '40-45', '5', '3,1/2', '10', '6', '6 Month', '17',
       '4-5 Month', 'Unknown', '2', '6-8', '1,1/2', '22-23', '40-44',
       '15-16', '42', '16-20', '4-5', '10-15', '7-8', '18-20', '16-17',
       '18', '2-3', '23-30', '12-14', '22', '10-12', '8', '12', '8-10',
       '5-6', '1', 25, '8-10 Month', '8-9', '49', '6-7', '3-4', '28',
       '25-28', '_'], dtype=object)

In [125]:
from numpy import nan
df['Age'] = df['Age'].replace({
    '4,1/2':'4.5',
    '6 Month':'6 Months',
    '1 Weeks':'1 Week',
    '3,1/2':'3.5',
    '1,1/2':'1.5',
    '4-5 Month':'4.5 Months',
    '8-10 Month':'9 Months',
    '_':'Unknown',
    '3 months':'3 Months'

})

In [126]:
df['Age'] = df['Age'].fillna('Unknown')

In [127]:
df['Age'].unique()

array(['3 Months', '25-30', '35', '3', 'Unknown', '60', '30-35', '20-22',
       '40-50', '40', '4', '30', '4.5', '45', '20-25', '25', '12-15',
       '15-20', '35-40', '15', 4, '1 Week', '15-18', '45-50', '13', '20',
       '30-25', '7', '40-45', '5', '3.5', '10', '6', '6 Months', '17',
       '4.5 Months', '2', '6-8', '1.5', '22-23', '40-44', '15-16', '42',
       '16-20', '4-5', '10-15', '7-8', '18-20', '16-17', '18', '2-3',
       '23-30', '12-14', '22', '10-12', '8', '12', '8-10', '5-6', '1', 25,
       '9 Months', '8-9', '49', '6-7', '3-4', '28', '25-28'], dtype=object)

In [128]:
import re
# Function to convert months and weeks to years
def convert_to_years(age_str):
    if isinstance(age_str, str):
        if re.match(r'^\d+(\.\d+)? Months?$', age_str):
            months = float(re.match(r'^\d+(\.\d+)?', age_str).group())
            return months / 12  # Approximate conversion to years
        elif re.match(r'^\d+ Weeks?$', age_str):
            weeks = int(re.match(r'^\d+', age_str).group())
            return weeks / 52  # Approximate conversion to years
        elif re.match(r'^\d+ Days?$', age_str):
            days = int(re.match(r'^\d+', age_str).group())
            return days / 365  # Approximate conversion to years
        elif '-' in age_str:
            age_range = age_str.split('-')
            try:
                return (float(age_range[0]) + float(age_range[1])) / 2  # Taking the average for range
            except ValueError:
                return None  # Invalid range
    try:
        return float(age_str)
    except ValueError:
        return None  # Unknown or invalid value

# Apply the conversion function to the 'Age' column
df['age'] = df['Age'].apply(convert_to_years)

# Function to categorize age
def categorize_age(age):
    if age is None or isinstance(age, str):
        return 'Unknown'
    elif age < 1:
        return 'Infant'
    elif age <= 4:
        return 'Calf'
    elif age <= 12:
        return 'Juvenile'
    elif age >=13:
        return 'Subadults and adults'
    else:
        return 'Unknown'

# Apply the function to the 'Age' column
df['Age Category'] = df['age'].apply(categorize_age)

# Drop the original 'Age' column if you don't need it anymore
df.drop(columns=['age'], inplace=True)

In [129]:
df[df['Sex']=='Calf']

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age,Age Category
28,29,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Calf,4,Calf
104,105,Southern,Ratnapura,Embilipitiya,2011-04-30,Unknown,Calf,4,Calf
124,125,Southern,Ratnapura,Embilipitiya,2011-05-31,Unknown,Calf,4,Calf
185,186,Southern,Ratnapura,Embilipitiya,2011-08-31,Unknown,Calf,4,Calf
200,201,Southern,Ratnapura,Embilipitiya,2011-09-30,Unknown,Calf,4,Calf

In [130]:
df['Age'].unique()

array(['3 Months', '25-30', '35', '3', 'Unknown', '60', '30-35', '20-22',
       '40-50', '40', '4', '30', '4.5', '45', '20-25', '25', '12-15',
       '15-20', '35-40', '15', 4, '1 Week', '15-18', '45-50', '13', '20',
       '30-25', '7', '40-45', '5', '3.5', '10', '6', '6 Months', '17',
       '4.5 Months', '2', '6-8', '1.5', '22-23', '40-44', '15-16', '42',
       '16-20', '4-5', '10-15', '7-8', '18-20', '16-17', '18', '2-3',
       '23-30', '12-14', '22', '10-12', '8', '12', '8-10', '5-6', '1', 25,
       '9 Months', '8-9', '49', '6-7', '3-4', '28', '25-28'], dtype=object)

In [131]:
df.head(50)

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age,Age Category
0,1,Southern,Ratnapura,Embilipitiya,2011-01-03,Unknown,Male,3 Months,Infant
1,2,Southern,Ratnapura,Balangoda,2011-01-04,Unknown,Male,25-30,Subadults and adults
2,3,North Western,Anuradhapura,Ma: Nu: gampalatha,2011-01-06,Electrocuted,Male,35,Subadults and adults
3,4,Mahaweli,Polonnaruwa,Welikanda,2011-01-06,Flood,Female,3,Calf
4,5,Mahaweli,Polonnaruwa,Hinguraggoda,2011-01-08,Flood,Unknown,Unknown,Unknown
5,6,Southern,Monaragala,Thanamalvila,2011-01-10,Natural,Male,60,Subadults and adults
6,7,Eastern,Batticaloa,Chencalladi,2011-01-10,Gunshot,Male,30-35,Subadults and adults
7,8,Mahaweli,Trincomalee,Kuchchaweli,2011-01-12,Unknown,Female,20-22,Subadults and adults
8,9,Mahaweli,Polonnaruwa,Dimbulagala,2011-01-12,Flood,Male,40-50,Subadults and adults
9,10,Mahaweli,Polonnaruwa,Dimbulagala,2011-01-12,Gunshot,Male,40,Subadults and adults
10,11,Mahaweli,Polonnaruwa,Thamankaduwa,2011-01-13,Flood,Female,4,Calf
11,12,Mahaweli,Polonnaruwa,Dimbulagala,2011-01-13,Unknown,Unknown,Unknown,Unknown
12,13,North Western,Kurunegala,Ehatuwewa,2011-01-14,Poisned,Female,30,Subadults and adults
13,14,Mahaweli,Trincomalee,Kanthale,2011-01-14,Flood,Male,4.5,Juvenile
14,15,North Western,Kurunegala,Polpithigama,2011-01-14,Electrocuted,Male,45,Subadults and adults
15,16,YalaBundala,Hambantota,Thissamaharama,2011-01-15,Gunshot,Male,20-25,Subadults and adults
16,17,Mahaweli,Trincomalee,Gomarankadawela,2011-01-16,Gunshot,Male,35,Subadults and adults
17,18,Southern,Monaragala,Thanamalvila,2011-01-17,Unknown,Male,35,Subadults and adults
18,19,North Western,Anuradhapura,Horowpothana,2011-01-17,Electrocuted,Unknown,25,Subadults and adults
19,20,Southern,Hambantota,Hambanthaota,2011-01-24,Electrocuted,Male,12-15,Subadults and adults
20,21,Eastern,Ampara,Pothuvil,2011-01-28,Gunshot,Male,15-20,Subadults and adults
21,22,Eastern,Ampara,Lahugala,2011-01-29,Gunshot,Male,25-30,Subadults and adults
22,23,North Western,Anuradhapura,Galenbindunuwewa,2011-01-29,Poisned,Male,35-40,Subadults and adults
23,24,Southern,Monaragala,Wellawaya,2011-01-29,Natural,Male,3 Months,Infant
24,25,YalaBundala,Hambantota,Thissamaharama,2011-01-30,Other,Male,15-20,Subadults and adults
25,26,Eastern,Batticaloa,Wakare,2011-01-30,Gunshot,Male,20-25,Subadults and adults
26,27,Eastern,Batticaloa,Wakare,2011-01-30,Gunshot,Female,35-40,Subadults and adults
27,28,North Western,Anuradhapura,Galenbindunuwewa,2011-01-31,Hakkapatas,Male,15,Subadults and adults
28,29,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Calf,4,Calf
29,30,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Unknown,Unknown,Unknown
30,31,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Unknown,Unknown,Unknown
31,32,Southern,Ratnapura,Embilipitiya,2011-01-31,Unknown,Unknown,Unknown,Unknown
32,33,North Western,Anuradhapura,Thirappane,2011-01-31,Gunshot,Female,Unknown,Unknown
33,34,North Western,Anuradhapura,Thirappane,2011-01-31,Gunshot,Female,Unknown,Unknown
34,35,Eastern,Ampara,Damana,2011-02-02,Gunshot,Female,3 Months,Infant
35,36,North Western,Anuradhapura,Ipologama,2011-02-04,Flood,Male,1 Week,Infant
36,37,North Western,Vavuniya,Wavniya,2011-02-05,Gunshot,Female,30,Subadults and adults
37,38,Mahaweli,Trincomalee,Gomarankadawela,2011-02-08,Unknown,Male,30-35,Subadults and adults
38,39,Mahaweli,Trincomalee,Serunuwara,2011-02-10,Unknown,Unknown,30,Subadults and adults
39,40,YalaBundala,Hambantota,Lunugamwehera,2011-02-12,Poisned,Male,15-20,Subadults and adults
40,41,Eastern,Ampara,Ampara,2011-02-12,Accident,Male,15-18,Subadults and adults
41,42,Mahaweli,Polonnaruwa,Hinguraggoda,2011-02-12,Accident,Male,20-25,Subadults and adults
42,43,Mahaweli,Trincomalee,Muthur,2011-02-12,Other,Female,4.5,Juvenile
43,44,Eastern,Batticaloa,Chencalladi,2011-02-13,Gunshot,Male,25-30,Subadults and adults
44,45,Mahaweli,Polonnaruwa,Welikanda,2011-02-15,Gunshot,Female,20-25,Subadults and adults
45,46,Southern,Monaragala,Thanamalvila,2011-02-16,Electrocuted,Male,25-30,Subadults and adults
46,47,Eastern,Ampara,Samanthurei,2011-02-18,Gunshot,Male,45-50,Subadults and adults
47,48,Mahaweli,Polonnaruwa,Welikanda,2011-02-19,Gunshot,Female,13,Subadults and adults
48,49,North Western,Puttalam,Wanathawilluwa,2011-02-20,Accident,Male,25-30,Subadults and adults
49,50,North Western,Puttalam,Nawagaththegama,2011-02-20,Gunshot,Female,20,Subadults and adults

In [132]:
output_file_path = r'..\..\data\Cleaned_data\2011_clean.csv'

df.to_csv(output_file_path, index=False)